fastapi
uvicorn
pandas
pillow
google-generativeai
pdf2image
python-dotenv
openpyxl
PyPDF2
python-multipart
gspread
google-auth

# Knowledge Base Dependencies (ADD THESE 4 LINES)
sentence-transformers
pinecone
scikit-learn
chromadb
