fastapi
uvicorn
pandas
pillow
google-genai
google-api-python-client
pdf2image
python-dotenv
openpyxl
PyPDF2
python-multipart
gspread
google-auth
langgraph

# Knowledge Base Dependencies (ADD THESE 4 LINES)
sentence-transformers
pinecone
scikit-learn
chromadb
